* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "navegation information"
    ;
    grid-template-columns: 22.92% auto;
    grid-template-rows: 100% 100%;
}

#navegation {
    grid-area: navegation;
    display: flex;
    flex-direction: column;
}


#container-superior {
    width: 100%;
    height: 29%;
    background-color: #3822FD;
}

#contenedor-menu {
    display: none;
    /*Botón invisible en la vista de pc*/
}


#container-inferior {
    display: flex;
    flex-direction: column;
    height: 71%;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

#container-imagen {
    display: flex;
    justify-content: center;
    margin-top: -40%;
    width: 65.90%;
    height: 40.44%;
    background-color: #3822FD;
    border-radius: 100%;
}

#foto-personal {
    height: 100%;
    width: 80%;
    border-radius: 100%;
    box-shadow: 0 0 0 30px #3822FD;
}

#nombre-personal {
    color: white;
    font-family: 'Calistoga', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    height: 69.97%;
    color: white;
    font-family: 'Calistoga', sans-serif;
    font-size: 100%;
    font-weight: bold;
    gap: 10%;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 81.81%;
    height: 58.57%;
    gap: 7.17%;
}

.boton-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 24%;
    gap: 5%;
    border-radius: 15px 0 0 15px;

}

.boton-menu:hover {
    box-shadow: 0px 4px 8px rgba(67, 48, 236, 0.5);
    background-color: #3822FD;
    font-size: 18px;
}

.logo-menu {
    height: 85.71%;
    width: 16.66%;
    margin-left: 5%;
}

a {
    color: white;
    text-decoration: none;
}


#information {
    grid-area: information;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15%;
    overflow: hidden;
    /* Para asegurar que la imagen de fondo no se desborde */
}


.fondo {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    /* Asegura que la imagen cubra todo el contenedor */
    filter: brightness(0.5);
    /* Oscurece ligeramente la imagen de fondo */
}

.section-information {
    margin-top: 15%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#texto {
    height: 50%;
    position: relative;
    z-index: 2;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 0 20% 0 20%;
}

.enlaces-redes {
    height: 50%;
    width: 100%;
    height: 8.69%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.boton-red {
    background-color: #3822FD;
    display: flex;
    height: 130%;
    width: 22%;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    font-family: 'Calistoga', sans-serif;
    font-size: 100%;
    font-weight: bold;
}

.boton-red {
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.logo-red {
    height: 60%;
    width: 15%;
}

.boton-red:hover {
    background-color: #7768FF;
    font-size: 18px;
}

.section-foto {
    display: none;
}


/*Vista tablet*/
@media (max-width: 768px) {
    body {
        grid-template-areas:
            "navegation"
            "information"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: 9.71% auto;
    }

    #navegation {
        flex-direction: row;
    }

    #container-superior {
        display: none;
    }

    #contenedor-menu {
        display: flex;
    }

    #container-inferior {
        flex-direction: row-reverse;
        height: 100%;
        width: 100%;
        background-color: #3822FD;
        justify-content: center; 
        align-items: center;
        gap: 0px;
    }

    #container-imagen {
        flex-direction: row;
        margin-top: 0%;
        width: 50%;
        height: 70%;
        margin-right: 1%;
    }

    #foto-personal {
        height: 100%;
        width: 40%;
        border: none;
        border-radius: 100px;
        box-shadow: none;
        margin-right: -40%;

    }

    #nombre-personal {
        font-size: 22px;
        text-align: center;
    }

    #menu {
        flex-direction: row;
        width: 50%;
        height: 100%;
        color: white;
        font-family: 'Calistoga', sans-serif;
        font-size: 100%;
        font-weight: bold;
        gap: 0;
        margin-left: 0;

    }

    .botones {
        display: none;
        flex-direction: row;
        align-items: end;
        width: 60%;
        height: 40%;
        gap: 7.17%;
    }

    .boton-menu {
        display: flex;
        align-items: center;
        width: 100%;
        height: 15%;
        gap: 5%;
        border-radius: 15px 0 0 15px;
    }

    .boton-menu:hover {
        box-shadow: 0px 4px 8px rgba(67, 48, 236, 0.5);
        background-color: #3822FD;
        font-size: 18px;
    }

    .logo-menu {
        height: 100%;
        width: 15%;
        margin-left: 5%;
    }

    #contenedor-menu {
        height: 100%;
        width: 30%;
        display: flex;
        font-size: 50px;
        color: white;
        background-color: #7768FF;
        padding: 10px;
        cursor: pointer; /* Cambia el cursor cuando se pasa el mouse por encima */
        position: relative;
        z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        border: none;
    }
    
    #menu-desplegable {
        display: none;
        flex-direction: column;
        background-color: #7768FF;
        position: absolute; /* Posiciona el menú respecto al contenedor */
        top: 9.5%; /* Ajusta la posición para que aparezca debajo del botón */
        left: 0;
        padding: 2%;
        z-index: 999; /* Asegura que el menú esté por encima de otros elementos */
    }
    
    #menu-desplegable a {
        color: white;
        text-decoration: none;
        padding: 5px 0;
    }
    
    #menu-desplegable.show {
        display: flex; /* Muestra el menú cuando tiene la clase "show" */
    }

    #menu-desplegable {
        transition: all 0.3s ease;
    }

    .boton-red{
        width: 25%;
    }
    
    .logo-red{
        width: 30%;
        height: 70%;
    }
}

/*Vista celular*/
@media (max-width: 372px) {
    #foto-personal{
        display: none;
    }
    .section-foto {
        display: flex;
        height: 100%;
        width: 40%;
        z-index: 4;
        margin-right: 0%;
        margin-top: 15%;
    }

    #foto-personal-information {
        height: 40%;
        width: 90%;
        display: flex;
        border-radius: 100px;
    }

    #information {
        flex-direction: column-reverse;
        gap:0;
    }

    .section-information {
        margin-top: 10%;
    }

    #texto {
        height: 60%;
        font-size: 25px;
        padding: 0 20% 0 20%;
    }

    .enlaces-redes {
        height: 20%;
        width: 100%;
        flex-direction: column;
    }

    .boton-red {
        background-color: #3822FD;
        display: flex;
        height: 100%;
        width: 60%;
    }

    .section-foto {
        height: 20%;
        margin-top: 10%;
        width: 100%;
        justify-content: center;
    }

    #foto-personal-information {
        height: 100%;
        width: 50%;
    }

}